@CHARSET "UTF-8";

.footer {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  width:960px;
  background-color:#ffffff;
}
body {
  background-color:#f9f9f9;
}