<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Add New Busiess</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Add New Business</h1>
    <!--<p>Image: <input type="file" th:field="*{imageUrl}"></p>-->
    <form action="#" th:action="@{/addBusiness}" th:object="${business}" method="post" enctype="multipart/form-data">
        <label for="upload-file-input">Upload Logo:</label>
        <input id="upload-file-input" type="file" name="file" accept="image/*" onchange="readURL(this)"/>
        <img id="blah" src="#" alt="your image" />
        <br/>
        <p>Name: <input type="text" th:field="*{name}" /> </p>
        <p>Address: <input type="text" th:field="*{address}" /></p>
        <p>Details: <input type="text" th:field="*{details}" /></p>
        <p class="control-group">Categories:
            <select multiple="multiple" name="categories" th:field="*{categories}">
                <option th:each="bcategory:${businessCategories}"
                        th:value="${bcategory.id}"
                        th:text="${bcategory.categoryName}">Business Category List</option>
            </select>
        </p>
        <input type="submit" value="Submit"/>
    </form>
    <!--Finish the form and try to submit-->


    <!--</form>-->


</div>


</body>
</html>