<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Add New Investment</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Add New Investment</h1>
    <form action="#" th:action="@{/saveInvestment}" method="post" th:object="${person}">

        <div th:if="${person}">
            <input type="hidden" th:field="${person.id}">
            <p>Person Name: <input type="text" disabled th:field="*{name}"></p>
        </div>
        <div th:object="${investment}">
            <p>Choose Business:
                <select id="selectBusiness" th:field="*{business}" name="business">
                    <option th:each="business:${businessList}"
                            th:value="${business.id}"
                            th:text="${business.name}">Select A Business
                    </option>
                </select>
            </p>
            <p>Investment Round: <input type="text" th:value="*{investmentRound}" name="investmentRound"/></p>
            <p>Investment Amount: <input type="text" th:value="*{investmentAmount}" name="investmentAmount"/></p>
        </div>
        <input type="submit" value="Submit"/>
    </form>

</div>


</body>
</html>