<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>All Businesses - ThinkIndex</title>
</head>

<body>

<div layout:fragment="content">

    <div th:each="business:${businesses}">
        <a th:href="@{'/business/'+${business.id}}">
            <img th:src="${business.logoUrl}" width="100px">
            <div th:text="${business.name}"></div>
        </a>
    </div>

</div>

</body>
</html>