<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>All Profiles - ThinkIndex</title>
</head>

<body>

<div layout:fragment="content">

    <div th:each="person:${persons}">
        <a th:href="@{'/person/'+${person.id}}">
            <img th:src="${person.imageUrl}" width="100px">
            <div th:text="${person.name}"></div>
        </a>

    </div>


</div>


</div>

</body>
</html>