<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Serach Result - ThinkIndex</title>
</head>

<body>

<div layout:fragment="content">

    <h2 th:if="${not #strings.isEmpty(result.searchTerm)}">
        Search result for:<span th:text="${result.searchTerm}"></span></h2>


    <div th:each="business:${result.businessResult}">
        <a th:href="@{'/business/'+${business.id}}">
            <img th:src="${business.logoUrl}" width="100px">
            <div th:text="${business.name}"></div>
        </a>
    </div>

</div>

</body>
</html>