<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Add New Person</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Add New Person</h1>
    <form action="#" th:action="@{/saveEditPerson}" th:object="${person}" method="post" enctype="multipart/form-data">
        <label for="upload-file-input">Upload Image:</label>
        <input id="upload-file-input" type="file" name="file" accept="image/*" onchange="readURL(this)"/>
        <div th:if="${person.imageUrl}">
            <img id="blah" th:src="${person.imageUrl}" width="200" src="#" alt="your image"/>
        </div>
        <br/>
        <input type="hidden" th:field="*{id}"/>
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Address: <input type="text" th:field="*{address}"/></p>
        <p class="control-group">Categories:
            <select multiple="multiple" name="categories" th:field="*{categories}">
                <option th:each="pcategory:${personCategories}"
                        th:value="${pcategory.id}"
                        th:text="${pcategory.categoryName}"
                        th:selected="*{categories}">Person Category List
                </option>
            </select>
        </p>
        <input type="submit" value="Submit"/>
    </form>


    <!--Finish the form and try to submit-->


    <!--</form>-->


</div>


</body>
</html>