<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Edit Business</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Edit Existing Business</h1>
    <form action="#" th:action="@{/saveEditBusiness}" th:object="${business}" method="post" enctype="multipart/form-data">
        <label for="upload-file-input">Upload Logo:</label>
        <input id="upload-file-input" type="file" name="file" accept="image/*" onchange="readURL(this)"/>
        <div th:if="${business.logoUrl}">
            <img id="blah" th:src="${business.logoUrl}" width="200" src="#" alt="your logo"/>
        </div>
        <br/>
        <input type="hidden" th:field="*{id}"/>
        <p>Business Name: <input type="text" th:field="*{name}"/></p>
        <p>Address: <input type="text" th:field="*{address}"/></p>
        <p>Summary: <input type="text" th:field="*{details}"/></p>
        <p class="control-group">Categories:
            <select multiple="multiple" name="categories" th:field="*{categories}">
                <option th:each="bcategory:${businessCategories}"
                        th:value="${bcategory.id}"
                        th:text="${bcategory.categoryName}"
                        th:selected="*{categories}">Business Category List
                </option>
            </select>
        </p>
        <input type="submit" value="Submit"/>
    </form>


    <!--Finish the form and try to submit-->


    <!--</form>-->


</div>


</body>
</html>