<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Serach Result - ThinkIndex</title>
</head>

<body>

<div layout:fragment="content">

    <h2 th:if="${not #strings.isEmpty(result.searchTerm)}">
        Search result for:<span th:text="${result.searchTerm}"></span></h2>

    <div th:each="person:${result.personResult}">
        <a th:href="@{'/person/'+${person.id}}">
            <img th:src="${person.imageUrl}" width="100px">
            <div th:text="${person.name}"></div>
        </a>

        <div th:if="${{result.personResult}.empty}">
        <span th:text="${noPersonFound}"></span>
        </div>
    </div>
    <!--TODO: need to fix the no result segment-->

    </div>


</div>

</body>
</html>