<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Single Business</title>
</head>

<body>

<div layout:fragment="content">

    <h1 th:text="${business.name}"/></h1>
    <a th:href="@{'/business/'+${business.id}+'/edit'}">Edit</a> <br/>
    <span th:text="${business.name}"/>
    <span th:text="${business.address}"/>
    <span th:each="category:${business.categories}">
        <span th:text="${category.categoryName}"/>
    </span>
    <div th:text="${business.details}"></div>
    <div>
        <img th:src="${business.logoUrl}" width="300px"/>
    </div>

    <div th:each="aff:${business.affiliationList}">
        <a th:href="@{'/person/'+${aff.person.id}}"><span th:text="${aff.person.name}"/></a>
        <span th:text="${aff.role}"/>
    </div>

    <div th:each="inv:${business.investmentList}">
        <a th:href="@{'/person/'+${inv.person.id}}"><span th:text="${inv.person.name}"/></a>
        <span th:text="${inv.investmentAmount}"/>
        <span th:text="${inv.investmentRound}"/>
    </div>

</div>


</body>
</html>