<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title></title>
</head>

<body>

<div layout:fragment="content">

    <h1 th:text="${person.name}"/></h1>
    <a th:href="@{'/person/'+${person.id}+'/edit'}">Edit</a> <br/>
    <span th:text="${person.name}"/>
    <span th:text="${person.address}"/>
    <span th:each="category:${person.categories}">
        <span th:text="${category.categoryName}"/>
    </span>
    <img th:src="${person.imageUrl}" width="300px"/>
    <br/>
    <a th:href="@{'/person/'+${person.id}+'/add-affiliation'}">Add Affiliation</a> <br/>
    <div th:each="aff:${person.affiliation}">
        <a th:href="@{'/business/'+${aff.business.id}}"><span th:text="${aff.business.name}"/></a>
        <span th:text="${aff.role}"/>
    </div>
    <a th:href="@{'/person/'+${person.id}+'/add-investment'}">Add Investment</a> <br/>
    <div th:each="inv:${person.investmentList}">
        <a th:href="@{'/business/'+${inv.business.id}}"><span th:text="${inv.business.name}"/></a>
        <span th:text="${inv.investmentAmount}"/>
        <span th:text="${inv.investmentRound}"/>
    </div>

</div>


</body>
</html>